body {
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

/* Header bar */

header {
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 79px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background-color: black;
  margin-top: -10px;
}

#logo img {
  height: 50px;
  margin-left: 10px;
  margin-top: 14.5px;
}

header nav {
  display: inline-flex;
  margin-right: 5px;
  margin-top: 8px;
}

header nav p {
  margin: 15px;
  text-decoration: underline;
}

/*Overall main content containers*/

.main {
  justify-content: center;
}

/* Body Section 1, Our Mission*/

.our-mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  vertical-align: middle;
}

.our-mission #text-bar {
  vertical-align: middle;
  background-color: black;
  text-align: center;
  height: 100px;
  margin: auto 0px;
  width: 100%;
}

.our-mission #text-bar h2,
.our-mission #text-bar h4 {
  margin: 10px 0px;;
}

/*body section 2, Tea of the month */

.tea-month {
  display: flex;
  justify-content: center;;
  flex-direction: column;
}

.tea-month .section-text {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100%;
  flex-direction: column;
}

.tea-month .section-text h2,
.tea-month .section-text h5 {
  margin: 20px auto;
}



.images-with-captions {
  width: 1000px;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.row {
  display: inline-flex;
  justify-content: space-around;
  margin: 40px 0px;
}

.item {
  height: 240px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item p {
  margin: 10px auto;
}

#image {
  height: 200px;
  width: 300px;
}

/* Locations */

.locations {
  height: 500px;
  width: 100%;
  background-image: url("file://");
}



























fqwe
